body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

main {
  width: 65%;
  margin: auto;
  line-height: 2rem;
}

.container {
  width: 100%;
}

.landingRating {
  height: 20rem;
  margin-top: 5rem;
}

.landingRating__text {
  width: 60%;
  margin-right: 5rem;
}

.easyToUse, .landingRating {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__pie {
  width: 50%;
  height: auto;
  margin: auto;
}

.easyToUse__text {
  width: 60%;
}

footer {
  background-color: grey;
  display: flex;
  text-align: center;
  width: 100%;
  height: 18vh;
  align-items: center;
}

footer div {
  margin: auto;
}

.feedback ul li {
  padding-bottom: 1rem;
}